/* Стили для контейнера */
.color-div {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgba(230, 230, 230, 0.966);
    border-radius: 15px;
    border: solid;
    padding: 15px;
}

#model-viewer {
    opacity: 0;
    width: 0;
    height: 0;
}


/* Стили для каждого ряда */
.row {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.column {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: rgba(230, 230, 230, 0.966);
    border-radius: 15px;
    border: solid;
    padding: 15px;
}

#ExportBtn {
    background-image: url(./ar.png);
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: 12px 50%;
    background-color: #dbdbdb;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    bottom: 50px;
    width: 150px;
    padding: 0px 16px 0px 75px;
    font-family: Roboto Regular, Helvetica Neue, sans-serif;
    font-size: 24px;
    color: #4285f4;
    height: 60px;
    border-radius: 18px;
    text-align: center;
    align-content: center;
}

.frame {
    top: 5%;
    left: 2%;
}

.btn {
    top: 5%;
    right: 2%;
}

.btn-blocks a {
    margin: 5px 0px 10px 0px;
}

.btn-blocks {
    display: contents;
    margin-bottom: 10px;
}

/* Стили для цветных квадратов */
.color-square-btn,
.color-square-frame,
.color-square {
    width: 75px;
    height: 75px;
    border-radius: 15px;
}


/* Стили для цифр */
.number {
    font-size: 24px;
    width: 90px;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    border: groove;
}

.name {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}