/* Стили для контейнера */
.color-div {
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
}

@font-face {
    font-family: openSanstmp;
    src: url(OpenSans.ttf);
}

html {
    font-family: openSanstmp;
    font-weight: bold;
    font-size: 24px;
}

.selected {
    background-color: #FFFFFF !important;
}

#model-viewer {
    opacity: 0;
    width: 0;
    height: 0;
}


/* Стили для каждого ряда */
.row {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.column {
    z-index: 2;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#ExportBtn {
    padding: 48px 60px 48px 48px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: #3DCD58;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    bottom: 50px;
    font-size: 42px;
    color: #FFFFFF;
    border-radius: 60px;
    text-align: center;
    align-content: center;
    font-weight: 500;
    width: 800px;
    height: 60px;
}

.frame {
    top: 50%;
    left: 5%;
    transform: translate(0, -50%);
}

.btn {
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);
}

.btn-blocks a,
.btn-blocks2 a {
    font-weight: 600;
    padding-top: 10px;
    margin: 0px 0px 15px 0px;
}

.btn-blocks,
.btn-blocks2 {
    height: 200px;
    width: 185px;
    flex-direction: column;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    margin: 15px 0px;
    border-radius: 48px;
}


/* Стили для цветных квадратов */
.color-square-btn,
.color-square-frame,
.color-square {
    width: 132px;
    height: 132px;
    margin-top: 25px;
    border-radius: 30px;
}


/* Стили для цифр */
.number {
    background-color: #D9D9D9;
    font-size: 36px;
    width: 120px;
    height: 120px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 36px;
    margin: 15px;
    font-weight: 600;
}

.name {
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 20px;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo {
    z-index: 2;
    position: absolute;
    bottom: 350px;
    left: 50%;
    transform: translate(-50%, 0);
}

#btn-image {
    margin-right: 20px;
    width: 96px;
    height: 96px;
}